*
html {
  padding: 0;
  margin: 0;
}

.body {
  min-width: 320px; 
  max-width: 1440px;
  padding: 0; 
  margin: 0 auto; 
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
}
/* @media (min-width: 768px) {
  .body
   {
    min-width: 320px;
  }
}
@media (min-width: 1024px) {
  .body
  {
    min-width: 768px;
  }
} 
@media (min-width: 1280px) {
  .body 
  {
    max-width: 1024px;
  }
} */
