.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

@media (max-width: 767px) {
  .header-main {
    display: none;
    align-items: start;
  }
}
