.about {
  padding: 96px 70px 96px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 60px;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .about {
    padding: 70px 96px 70px;
  }
}

@media (max-width: 1200px) {
  .about {
    padding: 70px 60px 70px;
    gap: 40px;
  }
}

@media (max-width: 1023px) {
  .about {
    padding: 50px 30px 50px;
  }
}

@media (max-width: 903px) {
  .about {
    padding: 50px 30px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .about {
    padding: 70px 15px 70px;
  }
}