.footer__line {
  margin: 48px 0 0;
  padding: 32px 0 0;
  width: 1440px;
  border-top: 1px solid #dadada;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 627px) {
  .footer__line {
    flex-direction: column-reverse;
      gap: 5px;
  }
}
@media (max-width: 1580px) {
  .footer__line {
    width: 98%;
  }
}
