.form__table_data-checkbox-input {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    font-family: inherit;
    font-size: inherit;
    background-color: white;
    margin-top: 3px;
    margin-left: 20px;
    padding: 16px 24px; 
    /* width: 20px; */
    border-radius: 10px;
    /* запрет на растягивание */
    /* resize: none; */
}

.form__table_data-checkbox-input::placeholder {
  color: rgb(0 0 0 / 0.6);
}

.form__table_data-checkbox-input:focus {
  /* outline: 2px solid #000; */
  outline-offset: 0;
}

@media (max-width: 600px) {
    .form__table_data-checkbox-input {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}