.landing__title {
  margin: 48px 0 24px;
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -0, 5em;
  font-size: clamp(2.1875rem, 1.8304rem + 1.7857vw, 3.4375rem);
  animation: fadeInUp 1s ease;
}

.landing__title::after {
  content: "SEO продвижение SMM";
  font-size: 50px;
  color: #2563eb;
  line-height: 100%;
  font-size: clamp(2.1875rem, 1.8304rem + 1.7857vw, 3.4375rem);
}

@media (max-width: 1231px) {
  .landing__title::after {
    font-size: 45px;
  }
}

@media (max-width: 1151px) {
  .landing__title::after {
    font-size: 40px;
  }
}

@media (max-width: 1023px) {
  .landing__title {
    font-size: 45px;
  }
  .landing__title::after {
    font-size: 35px;
  }
}

@media (max-width: 903px) {
  .landing__title {
    margin: 24px 0 24px;
  }
}
@media (max-width: 534px) {
  .landing__title {
    margin: 24px 0 24px;
    font-size: 35px;
  }
  .landing__title::after {
    font-size: 30px;
  }
}
@media (max-width: 534px) {
  .landing__title::after {
    font-size: 25px;
  }
}
@media (max-width: 399px) {
  .landing__title::after {
    font-size: 20px;
  }
}
@media (max-width: 399px) {
  .landing__title {
    font-size: 30px;
  }
}
