.services {
    padding: 96px 0 96px;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid red;
}

@media (max-width: 767px) {
    .services {
        padding: 20px;
    }
}