.form__table_input_about {
    display: flex;
    border: 1px solid #000;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    margin-top: 15px;
    padding: 16px 24px;
    width: 100%;

    border-radius: 10px;
    /* запрет на растягивание */
    resize: none;
    background: #FFFFFF;
}

.form__table_input_about::placeholder {
    font-weight: 400; 
    font-size: 18px; 
    line-height: 30px; 
    text-align: left;
    color: #c6c6c6;
}

.form__table_input_about:focus {
  outline: 2px solid #000;
  outline-offset: 0;
}
