.form__table_data-input {
  display: flex;
  border: 1px solid #000;
  font-family: inherit;
  font-size: inherit;
  background-color: white;
  margin-top: 15px;
  padding: 16px 24px;
  width: 360px;
  border-radius: 10px;
  box-sizing: border-box;
  /* запрет на растягивание */
  resize: none;
}

.form__table_data-input::placeholder {
  color: rgb(0 0 0 / 0.6);
}

.form__table_data-input:focus {
  outline: 0.3px solid #a99999;
  outline-offset: 0;
}

@media (max-width: 1023px) {
  .form__table_data-input {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .form__table_data-input {
    width: 250px;
  }
}

@media (max-width: 830px) {
  .form__table_data-input {
    width: 230px;
  }
}

@media (max-width: 767px) {
  .form__table_data-input {
    width: 100%;
  }
}
