.services__list-content {
    font-weight: 400; 
    font-size: 14px; 
    line-height: 30px; 
    color: black;
}

.services__list-content::before {
    padding: 0 8px 8px 0;
    content: "\2713\0020";
    color: rgb(5, 206, 5);
}