.header__nav_menu {
    text-decoration: none;
    font-weight: 400; 
    font-size: 16px; 
    line-height: 25px; 
    color: #374151;
}

@media (max-width: 767px) {
    .header__nav_menu {
        color: white;
    }

}