.about__foto {
  max-width: 500px;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 1280px) {
  .about__foto {
    max-width: 400px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .about__foto {
    width: 100%;
    height: auto;
  }
}
