.images__picture {
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
  max-height: auto;
    box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.5),
    0 8px 16px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1082px) {
  .images__picture {
    max-width: 350px;
  }
}

@media (max-width: 903px) {
  .images__picture {
    max-width: 550px;
  }
}
