.header {
    padding: 5px 50px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 350px;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid red;
}