.header {
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    /* gap: 600px; */
    top: 0;
    width: 99,7%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid red;
}

@media (max-width: 767px) {
    .header {
        padding-left: 15px;
        align-items: start;
        justify-content: start;
    }
}