@media (max-width: 1151px) {
    .services__table_title-websait {
        font-size: 20px !important;
    }
}

@media (max-width: 911px) {
  .services__table_title-websait {
    padding: 0 !important;
    max-width: 360px !important;
  }
}