.form__table_data-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: none;
}

@media (max-width: 767px) {
  .form__table_data-left {
    flex-direction: column;
    width: 100%;
    gap: 1px;
  }
}
