.form__table_input_about {
  display: flex;
  border: 1px solid #000;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  margin-top: 15px;
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  /* запрет на растягивание */
  resize: none;
  background: #ffffff;
}

.form__table_input_about::placeholder {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
  line-height: 30px;
  text-align: left;
  color: #c6c6c6;
}

.form__table_input_about:focus {
  outline: 0.3px solid #a99999;
  outline-offset: 0;
}
