.landing__description {
    margin: 0;
    padding: 8px 16px 8px;
    font-weight: 400; 
    font-size: 14px; 
    line-height: 100px; 
    border-radius: 30px;
    background-color: #dcfce7 ;
    text-align: left;
}