@media (max-width: 2449px) {
  .services-website {
    padding: 70px 500px 70px !important;
  }
}

@media (max-width: 2139px) {
  .services-website {
    padding: 70px 400px 70px !important;
  }
}

@media (max-width: 1939px) {
  .services-website {
    padding: 70px 300px 70px !important;
  }
}

@media (max-width: 1739px) {
  .services-website {
    padding: 70px 200px 70px !important;
  }
}

@media (max-width: 1539px) {
  .services-website {
    padding: 70px 100px 70px !important;
  }
}
@media (max-width: 1339px) {
  .services-website {
    padding: 70px 30px 70px !important;
  }
}

@media (max-width: 1339px) {
  .services-website {
    padding: 70px 30px 70px !important;
  }
}
