.services__table_img-websait {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

@media (max-width: 1151px) {
  .services__table_img-websait {
    left: 32px !important;
    top: 32px !important;
  }
}
