.footer__contacts_table-email {
    background-image: url(../../../logo-svg/trungul_svg.svg);
    background-size: cover;
    width: 17px;
    height: 17px;
}

.footer__contacts_table-email::after {
    margin-left: 30px;
    content: "@digistart_help";
    font-weight: 400; 
    font-size: 16px; 
    line-height: 25px; 
    color: #9CA3AF;
}