.landing__info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
        width: 100%;
        justify-content: space-around;
        align-items: center;
}