.header__burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.header__burger span {
  width: 25px;
  height: 3px;
  background: black;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .header__burger {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__burger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .header__burger.active span:nth-child(2) {
    opacity: 0;
  }

  .header__burger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
