.form__table_data-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    gap: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    width: 100%;
    border: none;
    text-align: left;
}

@media (max-width: 1023px) {
    .form__table_data-checkbox {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .form__table_data-checkbox {
        padding: 0;
        margin-bottom: 15px;
    }
}