.landing {
  width: 60%;
  box-sizing: border-box;
}


@media (max-width: 903px) {
  .landing {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
}

@media (max-width: 593px) {
    .landing {
      width: 90%;
    }
}