.header__nav-links {
  margin: 0;
  display: flex;
  list-style: none;
  gap: 2rem;
  color: #374151;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(102, 126, 234, 0.95);
    flex-direction: column;
    align-items: center;
    padding-top: 144px;
    transition: right 0.3s ease;
    display: none;
  }

  .header__nav-links.active {
    right: 0;
    display: flex;
    color: white;
  }
}
