.services__subtitle {
  margin: 0;
  padding: 0 24px 70px;
  font-weight: 400;
  font-size: clamp(0.8125rem, 0.6875rem + 0.625vw, 1.25rem);
  line-height: 40px;
  text-align: center;
}

@media (max-width: 1280px) {
  .services__subtitle {
    padding: 0 24px 40px;
  }
}
