.form__table_textarea {
  width: 97%;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  color: #374151;
}

@media (max-width: 600px) {
  .form__table_textarea {
    margin-top: 5px;
    padding: 0;
  }
}
