.advantages {
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 500px; 
    background: linear-gradient(to right, #515dfc, #8a4acd);
    border: 1px solid red;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .advantages {
        padding: 20px;
    }
}