.about {
    padding: 96px 70px 96px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 60px;
    background: #FFFFFF;
    max-width: 1440px;
    box-sizing: border-box;
    border: 1px solid red;
}

@media (max-width: 1279px) {
    .about {
        padding: 70px 96px 70px;
    }
}

@media (max-width: 1200px) {
    .about {
        padding: 70px 60px 70px;
    }
}

@media (max-width: 1023px) {
    .about {
        padding: 50px 60px 50px;
    }
}

@media (max-width: 903px) {
    .about {
        padding: 50px 60px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .about {
        padding: 70px 15px 70px;
    }
} 

/* @media (max-width: 600px) {
    .about {
        padding: 30px;
    }
} */
/* 
@media (max-width: 593px) {
    .about {
      width: 90%;
    }
} */