.form__table_data {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1023px) {
    .form__table_data {
        width: 100%;
}
}
