.footer {
        /* padding: 70px 0 28px;
        margin: 0 14px 0;
        min-width: 292px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px; 
    background-color: #111827;
    margin: 0; 
    padding: 64px 143px 64px;
    font-weight: 400; 
    font-size: 16px; 
    line-height: 25px; 
    color: #9CA3AF;
    border: 1px solid red;
}