.landing__title-context {
  margin: 48px 0 0;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0, 5em;
  font-size: clamp(1.875rem, 1.3393rem + 2.6786vw, 3.75rem);
  animation: fadeInUp 1s ease;
}

.landing__title-context {
  margin: 12px 0 12px;
  color: #2563eb;
  line-height: 1.2;
  font-size: clamp(1.25rem, 2.5vw + 0.5rem, 3.125rem);
  position: relative;
  overflow: hidden;
  height: 1.2em; /* Фиксированная высота для одной строки */
  text-align: left; /* Прижимаем к левому краю */
  width: 100%;
}
