/* .footer__contacts_table-number {
    background-image: url(../../../logo-svg/phone-call-auricular-symbol-in-black_icon-icons.com_56483.svg);
    background-size: cover;
    width: 17px;
    height: 17px;
    filter: invert(1);
} */

.footer__contacts_table-number {
    font-weight: 400; 
    font-size: 16px; 
    line-height: 25px; 
    color: #9CA3AF;
}