.images__lowspan {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 160px;
  height: 70px;
  padding: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #2563eb;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  bottom: -14px;
  left: -14px;
}

.images__lowspan::after {
  content: "без переплат";
  font-size: 14px;
  color: #485563;
  text-align: left;
}
