/* .footer__contacts_table-day {
    background-image: url(../../../logo-svg/business_schedule_calendar_briefcase_workdays_work_days_icon_188681.svg);
    background-size: cover;
    width: 17px;
    height: 17px;
    filter: invert(1);
} */

.footer__contacts_table-day {
    font-weight: 400; 
    font-size: 16px; 
    line-height: 25px; 
    color: #9CA3AF;
    min-width: 170px;
}