.services__all {
  padding: 32px 32px 32px 120px;
  text-decoration: none;
  min-width: 290px;
  width: 520px;
  min-height: 200px;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
/* карточки для страницы websait */
.services__all-websait {
  padding: 110px 32px 32px 32px;
  width: 360px;
  min-height: 310px;
}
@media (max-width: 1151px) {
  .services__all-websait {
    min-height: 200px;
  }
}
@media (max-width: 1011px) {
  .services__all-websait {
    min-height: 200px;
  }
}


.services__all:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1151px) {
  .services__all {
    padding: 30px 30px 30px 90px;
    width: 450px;
  }
}

@media (max-width: 1011px) {
  .services__all {
    width: 400px;
    min-height: 320px;
  }
}
@media (max-width: 911px) {
  .services__all {
    padding: 30px;
    width: 350px;
  }
}
@media (max-width: 811px) {
  .services__all {
    padding: 30px 30px 30px 90px;
    width: 80%;
    min-height: 200px;
  }
}

@media (max-width: 600px) {
  .services__all {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .services__all {
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .services__all {
    padding: 30px;
  }
}
