.services__table_title-smm {
    margin: 0; 
    padding: 0 0 8px 0;
    font-weight: 600; 
    font-size: 24px; 
    line-height: 35px; 
    color: black;
}

.services__table_title-smm::after {
    margin-left: 30px;
    padding: 5px 5px 5px 5px;
    content: "от 6000₽";
    font-weight: 400; 
    font-size: 10px; 
    line-height: 10px; 
    text-align: center;
    border-radius: 10px;
    background-color: #dcfce7 ;
}